@media (min-width: 700px){

    .nav-mobile{
        display: none;
    }
    .nav-desktop{
        @include flexbox-around;
        display: flex;

        ul{
            @include flexbox-around;

            li{
                padding-inline: 1rem;
            }
        }
        a.btn{
            font-size: 1.5rem;
        }
    }

    .hero{
        max-height:100vh;
        min-height: 50vh;
        padding-top: 5rem;
        padding-left: 2%;
        padding-bottom: 20rem;
        background-image: url("../images/hero-img.jpeg");
        margin-bottom: 2rem;
        padding-bottom: 10rem;
        h1{
            width: fit-content;
            max-width: 50vw;
            font-size: 5rem;
        }

        p{
            font-size: 3.5rem;
            max-width: 100vw;
            margin-bottom: 5rem;
        }

        a.btn{
            margin-bottom: 5rem;
        }
        aside{
            position: relative;
            padding: 2rem;
            padding-bottom: 0;
            
            span{
                font-size: 1.6rem;
            }

            h2{
                max-width: 300px;
                font-size: 2rem;
                
                strong{
                    font-size: 2em;
                }
                
            }

            a.btn{
                margin-top: 4rem;
            }

        }
    }

    .offerings {
        @include flexbox-around;
        margin-top: 10rem;
        margin-bottom: 10rem;
        &>section{
            width: 33%;
         
            p{
                width: 75%;
            }

            i{
                max-height: 30px;
            }
        }
    }

    .video{
        @include flexbox-between;
        section{
            width: 50%;
            @include flexbox-center;
            
        }
        h3{
            font-size: 4rem;
            max-width: 90%;
        }

        p{
            max-width: 90%;
        }

    }

    .stylists{
        justify-content: center;
        align-items: center;
        section{
            width: fit-content;
            margin-inline: 5%;
            img{
                max-width: 200px;
            }
        }
    }

    .offer{
        margin-inline: auto;
        max-width: 1000px;
    }

    .gallery{
        display: block;
    }
}